<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-list-header>Sistema</ion-list-header>
      <ion-item>
        <ion-label>
          <h3>Version</h3>
          <p>0.0.1-alpha<p>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-header>Follow us on Twitter</ion-list-header>
      <ion-item>
        <ion-icon name="logo-twitter"></ion-icon>
        @ionicframework
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
